@charset "utf-8";
textarea,input{
    font-size:16px;
    border-radius:10px;
}
/*essay*/
.article{
    margin-bottom: 20px;
}
.article_title{
    font-size: 22px;
}
.article_sub_title{
    font-size: 14px;
}
.article_abstract{
    font-size: 13px;
    color: #333333;
    text-indent:2em;
}
.article_img{
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    align-content:center;
}
.article_img > div{
    margin-bottom:10px;
}
.article_img > .img_3{
    width:30%;
    height:calc(0.3 * (0.7 * (61.8vw - 30px) - 60px));
    min-height:136.97px;
}
.article_img > .img_2{
    width:45%;
    height:calc(0.45 * (0.7 * (61.8vw - 30px) - 60px));
    min-height:205.45px;
}
.article_img > .img_1{
    width:95%;
    height:calc(0.95 * (0.7 * (61.8vw - 30px) - 60px));
    min-height:433.75px;
}
.comment{
    border:1px solid #eeeeee;
    color:#939393;
    padding:10px;
    margin-bottom:6px;
}
.comment img{
    float:left;
    height:40px;
    width:40px;
    margin:0 15px 0 0;
}
.comment_time{
    font-size: 15px;
    line-height: 15px;
}
.user_name{
    font-size:13px;
}
.comment_content{
    padding-top:7px;
    text-indent: 2em;
}
.pointer{
    cursor:pointer;
}