@charset "utf-8";
textarea,input{
    font-size:16px;
    border-radius:10px;
}
/*essay*/
.article{
    border-bottom: 6px solid #eeeeee;
    margin-bottom: 20px;
}
.article_title{
    font-size: 22px;
}
.article_sub_title{
    font-size: 14px;
}
.article_abstract{
    font-size: 13px;
    color: #777777;
    text-indent: 2em;
}
.article_btns{
    padding:0 calc(50% - 125px);
}
.article_btns button{
    margin: 0 15px;
}
.comment{
    border:1px solid #eeeeee;
    color:#939393;
    padding:10px;
    margin-bottom:6px;
}
.comment img{
    float:left;
    height:40px;
    width:40px;
    margin:0 15px 0 0;
}
.comment_time{
    font-size: 15px;
    line-height: 15px;
}
.user_name{
    font-size:13px;
}
.comment_content{
    padding-top:7px;
    text-indent: 2em;
}
.pointer{
    cursor:pointer;
}